@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	border:none 0px ;
}
ul, li{
	list-style:none;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
.sky_mz_header{
	width:100%;
	height:100px;
	text-align:center;
	background-color:#0099FF;
	font:26px/100px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_centre{
	width:960px;
	height:100%;
	margin:5px auto;}
.sky_mz_ad_ban{
	width:800px;
	height:100%;
	float: left;
	margin: 20px 80px;
	padding:20px 10px;
	background:#EDEDED;
	border-width:3px;
	border-style:solid;
	border-color:#4ecdf1;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;}
.sky_mz_ad_ban ul *{
	float: left;
}
.sky_mz_ad_ban_w_tilte{
	float:left;
	padding:5px;
	background-color:#4ecdf1;
	margin:-23px 0px 0px 30px;
	font:18px/30px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_ban li{
	width:800px;
	height:150px;
	margin:5px 0px;
	cursor: move;
	overflow: hidden;
}
.sky_mz_ad_ban_move{
	cursor: move;
}
.fuk_box{
	width:800px;
	height:150px;
	background: #EDEDED;
}
.fuk_box_copy{
	opacity: 0.4;
}
.sky_mz_ad_ban #index3_add{
	width:100%;
	height:250px;
	margin:5px 0px;
	cursor: default;}
.sky_mz_ad_ban_box{
	width:250px;
	height:100%;}
.sky_mz_ad_ban_title{
	padding:5px;
	background-color:transparent;
	margin:inherit;
	color:#330099;
	font:18px/20px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.banner_del{
	position: relative;
	z-index: 2;
	top: 46px;
	left: -59px;
	background: #4ecdf1;
}
.banner_del span{
	padding:5px;
	cursor:pointer;
	color:#f00;
	font:14px/20px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_ban_txt{
	width:90%;
	padding:20px 0px 0px 20px;
	height:100px;
	word-wrap: break-word; 
	word-break: normal; 
	word-break:break-all;
    overflow:hidden;
	font:14px/20px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_addban_box,
.sky_mz_ad_addban_box_tvtv{
	width:50px;
	height:50px;
	cursor:pointer;
	float:none !important;
	margin:100px auto;
}
.sky_mz_ad_addban_box_tvtv{
	margin:50px auto;
}
.sky_mz_ad_addban{
	width:100%;
	height:100%;
	background-image:url(../img/index_mz_admin_ico.png);
	margin-top:-50px;}
.sky_mz_ad_addban_bj{
	margin:0px;
	background-image:none !important;	
	background-color:#fff;}
.sky_mz_ad_addban_title{
	width:100%;
	height:100px;
	padding-top:10px;
	border-top:#06F 2px solid;}
.sky_mz_ad_addban_title a, .sky_mz_ad_addban_img a{
	padding:4px 10px;
	background-color:#06F;
	margin:-10px 0px;
	font:16px/20px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_addban_txt{
	width:500px;
	margin: 10px 0px 0px 20px;
	padding:0px 10px;
	float:none !important;
	border:#666 1px solid;
	font:14px/30px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_prompt{
	width:100%;
	height:20px;
	margin-bottom:10px;
	text-align:center;
	font:14px/20px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.sky_mz_ad_addban_img,
.sky_mz_ad_addban_img_tvtv{
	width:100%;
	height:50px;
	margin-top:30px;
	border-top:#06F 2px solid;
	padding-top:10px;}
.sky_mz_ad_addban_img_tvtv{
	margin-top:10px;
}
.sky_mz_ad_subban{
	margin:10px 0px 0px 50px;}
.sky_mz_ad_addban_do_box{
	width:650px;
	height:100%;
	float:none !important;
	margin:0px auto;}
.sky_mz_ad_addban_do_sub{
	width:100px;
	height:30px;
	margin:-25px 0px 0px 350px;
	background-color:#0099FF;
	cursor:pointer;
	font:16px/30px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.tvtv_title_t{
	width:300px;
	height:50px;
	margin:10px 0px 0px 250px;
	outline:none;
	font:16px/50px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.tvtv_title_sub{
	width:70px;
	height:50px;
	background:#09F;
	margin:10px 0px 0px 360px;
	cursor:pointer;
	text-align:center;
	font:16px/50px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.tvtv_title_see{
	width:600px;
	height:50px;
	text-align:center;
	font:16px/50px '微软雅黑', 'Microsoft Yahei', 'Simsun';}
.spuer_c{
	padding:5px 15px;}